#app {
  height: 100vh;
  width: 100vw;
  background-color: red;
  background: url("background.jpeg") center fixed;
  background-size: cover;
}

#submit-form {
  margin-top: 40px;
}

.lead-form {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 10px 50px 30px 50px;
  margin-top: 100px;
}

.form-control {
  margin-bottom: 3px;
}
